@import './variables.scss';

#app {
  // 侧边栏
  .sidebar-container {
    transition: width 0.28s;
    width: tRem(220);
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 99;

    a {
      display: inline-block;
      width: 100%;
    }

    .svg-icon {
      margin-right: vw(10);
      vertical-align: middle;
    }

    .el-menu {
      border: none;
      width: 100%;
    }

    .el-submenu .el-menu-item {
      padding: 0 vw(45);
    }

  }

  .hideSidebar {
    .sidebar-container, .sidebar-container .el-menu {
      width: vw(36) !important;
    }

    .main-container {
      margin-left: vw(36);
    }

  }

  .hideSidebar {
    .submenu-title-noDropdown {
      padding-left: vw(10) !important;
      position: relative;

      span {
        height: 0;
        width: 0;
        overflow: hidden;
        visibility: hidden;
        transition: opacity .3s cubic-bezier(.55, 0, .1, 1);
        opacity: 0;
        display: inline-block;
      }

      &:hover {
        span {
          display: block;
          border-radius: vw(3);
          z-index: 99;
          width: vw(140);
          height: vw(44);
          visibility: visible;
          position: absolute;
          right: - vw(145);
          text-align: left;
          text-indent: vw(20);
          top: 0;
          background-color: $subMenuBg !important;
          opacity: 1;
        }

      }

    }

    .el-submenu {
      &>.el-submenu__title {
        padding-left: vw(10) !important;

        &>span {
          display: none;
        }

        .el-submenu__icon-arrow {
          display: none;
        }

      }

      .nest-menu {
        .el-submenu__icon-arrow {
          display: block !important;
        }

        span {
          display: inline-block !important;
        }

      }

    }

  }

  .nest-menu .el-submenu>.el-submenu__title, .el-submenu .el-menu-item {
    min-width: tRem(180) !important;
    // background-color: $subMenuBg !important;

    &:hover {
      // background-color: $menuHover !important;
    }

  }

  .el-menu--collapse .el-menu .el-submenu {
    min-width: tRem(180) !important;
  }

  .el-menu-item.is-active.submenu-title-noDropdown {
    background-color: $sub-menu-hover-bg !important;

    span {
      color: $secondary-color !important;
    }

  }

}
